envVarGroups:
  - name: staytrack-shared
    envVars:
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_ALG
        value: HS256
      - key: PORT
        value: "8000"

databases:
  - name: staytrack-db
    plan: free
    databaseName: staytrack_db
    user: staytrack_user

services:
  # Microservicio: Auth
  - type: web
    name: auth-service
    plan: free
    runtime: docker
    rootDir: ./app/services/auth-service
    envVars:
      - fromGroup: staytrack-shared
      - key: AUTH_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString
      - key: USER_SVC
        value: http://user-service:8000

  # Microservicio: User
  - type: web
    name: user-service
    plan: free
    runtime: docker
    rootDir: ./app/services/user-service
    envVars:
      - fromGroup: staytrack-shared
      - key: USER_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Catalog
  - type: web
    name: catalog-service
    plan: free
    runtime: docker
    rootDir: ./app/services/catalog-service
    envVars:
      - fromGroup: staytrack-shared
      - key: CATALOG_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Goals
  - type: web
    name: goals-service
    plan: free
    runtime: docker
    rootDir: ./app/services/goals-service
    envVars:
      - fromGroup: staytrack-shared
      - key: GOALS_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Stats
  - type: web
    name: stats-service
    plan: free
    runtime: docker
    rootDir: ./app/services/stats-service
    envVars:
      - fromGroup: staytrack-shared
      - key: STATS_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Tracker
  - type: web
    name: tracker-service
    plan: free
    runtime: docker
    rootDir: ./app/services/tracker-service
    envVars:
      - fromGroup: staytrack-shared
      - key: TRACKER_DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # API Gateway
  - type: web
    name: staytrack-gateway
    plan: free
    runtime: docker
    rootDir: ./app/gateway
    envVars:
      - fromGroup: staytrack-shared
      - key: AUTH_SVC
        value: http://auth-service:8000
      - key: USER_SVC
        value: http://user-service:8000
      - key: TRACKER_SVC
        value: http://tracker-service:8000
      - key: GOALS_SVC
        value: http://goals-service:8000
      - key: STATS_SVC
        value: http://stats-service:8000
      - key: CATALOG_SVC
        value: http://catalog-service:8000



  # Frontend
  - type: web
    name: staytrack-frontend
    plan: free
    runtime: docker
    rootDir: ./frontend
    envVars:
      - key: VITE_API_URL
        value: https://staytrack-gateway.onrender.com
