databases:
  - name: staytrack-db
    plan: free
    databaseName: staytrack_db
    user: staytrack_user

services:
  # Microservicio: Auth
  - type: web
    name: auth-service
    plan: free
    runtime: docker
    rootDir: ./app/services/auth-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_ALG
        value: HS256
      - key: USER_SVC_URL
        value: http://user-service

  # Microservicio: User
  - type: web
    name: user-service
    plan: free
    runtime: docker
    rootDir: ./app/services/user-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Catalog
  - type: web
    name: catalog-service
    plan: free
    runtime: docker
    rootDir: ./app/services/catalog-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Goals
  - type: web
    name: goals-service
    plan: free
    runtime: docker
    rootDir: ./app/services/goals-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Stats
  - type: web
    name: stats-service
    plan: free
    runtime: docker
    rootDir: ./app/services/stats-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # Microservicio: Tracker
  - type: web
    name: tracker-service
    plan: free
    runtime: docker
    rootDir: ./app/services/tracker-service
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: staytrack-db
          property: connectionString

  # API Gateway (La entrada al Backend)
  - type: web
    name: staytrack-gateway
    plan: free
    runtime: docker
    rootDir: ./app/gateway
    envVars:
      - key: AUTH_SVC
        value: http://auth-service
      - key: USER_SVC
        value: http://user-service
      - key: TRACKER_SVC
        value: http://tracker-service
      - key: GOALS_SVC
        value: http://goals-service
      - key: STATS_SVC
        value: http://stats-service
      - key: CATALOG_SVC
        value: http://catalog-service
      - key: JWT_SECRET
        fromService:
          type: web
          name: auth-service
          property: envVar
          envVarKey: JWT_SECRET

  # Frontend (Vite + Nginx)
  - type: web
    name: staytrack-frontend
    plan: free
    runtime: docker
    rootDir: ./frontend
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: staytrack-gateway
          property: host
