@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-fitnessBg: #F5F5F7;
  --color-fitnessText: #1C1C1E;
  --color-fitnessAccent: #32D74B;
}

body {
  background-color: var(--color-fitnessBg);
  color: var(--color-fitnessText);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
